<h1>Pirate</h1>

<div class="pirate">
  <h4>Name: <%= @pirate.name %></h4>
  Weight: <%= @pirate.weight %> pounds <br>
  Height: <%= @pirate.height %> inches <br>
</div><br>


<h2>Ships</h2>
    <% @ships.each do |ship| %>
        <div class = "ships">
        Name: <%= ship.name %><br>
        Type: <%= ship.type %><br>
        Booty: <%= ship.booty %>
        </div><br>
    <% end %>
